<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Home</title>
    <meta http-equiv="refresh" content="3">
</head>
<body>
    <h2>Hello, {{name}}</h2>
    <h2>Current song: {{song['name']}}, {{song['album']['artists'][0]['name']}}</h2>
    <h1>Add a song:</h1>
    <form action="/home" method="POST">
        <div class="txt_field">
            <input type="text" name="song" required>
            <span></span>
            <label>Song Name</label>
        </div>
        {% if isFull == True %}
            <input type="submit" value="Submit" disabled="disabled">
        {% else %}
            <input type="submit" value="Submit">
        {% endif %}
    </form>
    <h1>Number of skips:</h1>    
    <h2>{{votes}}/{{totalSkips}}</h2>
    <form action="/vote" method="POST">
        {% if voted == False %}
        <button type="submit">Skip Song</button>
        {% else %}
        <button type="submit">Voted!</button>
        {% endif %}
    </form>
</body>
</html>