<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title></title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a href="/">Queue</a></li>
                <li><a href="/tutorial">Tutorial</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="content">
    <h1>You can make this site too!</h1>
    <h2>These are all the tools I've used to make this work:</h2>
</div>
    <div class="content" style="display: flex; justify-content: center; margin-top: 350px; align-items: center;">
        <ul style="font-size: 20px;">
            <li>Flask Routing to move around this site</li>
            <li>Flask Forms to collect user input</li>
            <li>Firebase Realtime Database to store the songs</li>
            <li>Login session to track number of voting users</li>
            <li>Spotify API to add songs to the queue</li>
        </ol>
        <br>
        <h2>These are all things that you have/will learn during this summer!</h2>
        <br>
        <img src="{{ url_for('static', filename='graphicdesign.jpeg') }}" alt="graphic design is my passion">
        <h4>Love, Noam</h4>
    </div>

    
    
</body>
</html>