<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title></title>
</head>
<body>
    <div class="content">
        <h1>So you think you have taste!</h1>
        <h2>Just enter your name to add a song to the queue:</h2>
    </div>

    <div class="center">
        <h1>Sign up</h1>
        <form action="/" method="POST">
            <div class="txt_field">
                <input type="text" name="name" required>
               <span></span>
                <label>Full Name</label>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>